
.expanded-header {
    height: 100vh;
    transition:height 0.4s;
}

.hide-slow {
    height: 0px;
    transition: height 0.8s;
}

.header-img-size {
    height: 4vh;
}
  
.land-page-scroll-img {
    height: 30px;
}