@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #ccccff 0%, #cc66ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.expanded-header {
  height: 100vh;
  transition:height 0.4s;
}

.hide-slow {
  height: 0px;
  transition: height 0.8s;
}

.generic-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5vh;
}

.header-img-size {
  height: 4vh;
}

.land-page-scroll-img {
  height: 30px;
}

.h-90 {
  height: 90%;
}

.h-40 {
  height: 40%;
}

.big-title {
  font-size: 3.5em;
}

.create-account-form {
  max-width: 600px;
}

.goals-top-panel {
  height: 15vh;
}



@media only screen and (max-width: 767px) {
  .big-title {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 575px) {
  .big-title {
    font-size: 2em;
  }
}
